.button {
    -fx-background-color: #FFA500; 
 
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #FF8C00;  
    -fx-effect: dropshadow(three-pass-box, #FF4500, 10, 0, 0, 0);  
}

.button:pressed {
    -fx-background-color: #FF6347; 
}
